<% provide(:title, 'About') %>
<div class='about-content'>
  <section>
    <h2>Where's Hospとは?</h2>
    <p>Where's Hospとは人と病院を繋ぐことを目的とした病院探索アプリです。Googlemapを用いて自分の近くにある病院をすぐに探すことができます。
    また投稿機能も搭載してあるため、実際に病院に行った人の評価がリアルタイムで見ることができます。さあ、Where's Hospを使ってあなたも便利に病院
    を見つけてみませんか?</p>
  </section>
</div>
