<% provide(:title, 'Top') %>
<div class='content'>
  <h1>Let's find <br> a hospital <br> with Where's Hosp!!</h1>
  <p>このWebアプリケーションは、Google mapを用いて病院をすぐに見つけることを可能にします。<br>
  あなたもWhere's Hospを使って気軽に病院を探索してみませんか?</p>
</div>
