<% if obj.error.any? %>
  <% obj.errors.full_messages.each do |message| %>
    <div class="error-alert">
      <ul>
        <% obj.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
