<div class="profile-area">
  <% if @user.image? %>
    <%= image_tag @user.image.url, class: "user-info-icon" %>
  <% else %>
    <%= image_tag asset_path("default-icon.jpeg"), class: "user-info-icon" %>
  <% end %>

  <div class="profile-name">
    <label class="update-name" for="name"></label>
    <%= @user.name %>
  </div>
</div>
