<header>
  <div class='container'>
    <%= link_to 'Search App', '#', class: 'logo' %>
    <nav>
      <ul class="global-nav">
        <li><%= link_to 'about', '#', class: 'global-ul' %></li>
        <li><%= link_to 'login', '#', class: 'global-ul' %></li>
        <li><%= link_to 'sign up', '#', class: 'global-ul' %></li>
      </ul>
    </nav>
  </div>
</header>
